.buttonBox{
	float: right;
}


.FinalMatch{
	float: left;
}

#sugg
{
	width: 328px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.searcher
{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

#matchContent
{
	margin-top: 20px;
}