/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   search.css                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: aliandie <aliandie@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2015/10/10 10:00:00 by aliandie          #+#    #+#             */
/*   Updated: 2015/10/10 10:00:00 by aliandie         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.resultats
{

		width:127px;
		border:1px #CDCDCD solid;

}
.resultats : nth-child{
	color: green;
}
#Final_resultats
{
	display: inline;
}

.tableaux
{
	display:inline-block;
  	vertical-align:top;
}

.pr16
{
	padding-right: 16px;
}

.pr18{
	padding-right: 18px;

}

#field{
	/*width: 199%;*/
}

input[type="submit"]
{
	width: 320px;
	border: none;
	border: 1px solid rgb(145, 30, 65);
	background: rgb(100, 0, 35);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	font-family: 'Arial';
	font-size: 14px;
	color: rgb(220, 220, 220);
	margin-left: 3px;
}

.parambox
{
	float: left;
}

#OrderBy
{
	float; right;
}

#choose{
	width: 131px;
}

#res{
	text-overflow: ellipsis;
}
.finalSearch
{
	padding-top: 20px;
	width: 328px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    margin-top: 170px;
}
#result-title
{
	width: 317px;
	height: 19px;
}
