/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   search.css                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: aliandie <aliandie@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2015/10/10 10:00:00 by aliandie          #+#    #+#             */
/*   Updated: 2015/10/10 10:00:00 by aliandie         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.resultats
{

		/*position:absolute;*/
		width:130px;
		border:1px #CDCDCD solid;
		/*background-color: white;*/
		/*color: black;*/
}
#Final_resultats
{
	display: inline;
}

.ScreenBy button
{
	width: 320px;
	border: none;
	border: 1px solid rgb(145, 30, 65);
	background: rgb(100, 0, 35);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	font-family: 'Arial';
	font-weight: bold;
	color: blue;
	padding: 5px 9px 7px 9px;
	border-radius: 3px;
}